EXPO_PUBLIC_API_URL=https://vcds-plaasboek.up.railway.app

EXPO_PUBLIC_SENTRY_DSN=https://1b6c309c189780c7ef9a9e8fea7096d3@o4511432712650752.ingest.de.sentry.io/4511461329666128

EXPO_PUBLIC_POSTHOG_KEY=phc_w8M2RMQe86ghfbEgYUu4TWhgxZyL9EHDvPVLJBUcoxHC

EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=AIzaSyA4BdW-z28E9-diJ8fXbfM2-2asRZrx5_E
